.circle{
    content: "";
    width: 400px;
    height: 400px;
    background: linear-gradient(45deg, rgb(117, 118, 45) 0%, rgb(206, 203, 5) 50%, rgba(117, 118, 45) 100%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    
}

.circle-feature{
    content: "";
    width: 300px;
    height: 300px;
    background: linear-gradient(45deg, rgb(117, 118, 45) 0%, rgb(206, 203, 5) 50%, rgba(117, 118, 45) 100%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.masthead-device-mockup{
    max-width: 17rem;
    margin: 0 auto;
}

.circle::before{
    content: "+";
    font-weight: 900;
    position: absolute;
    color: rgb(207, 204, 14);
    font-size: 28px;
    left: 0;
    bottom: 0;
    border-radius: 100%;
    transform: rotate(-15deg);
}
.circle::after{
    content: ".";
    
    position: absolute;
    color: rgb(207, 204, 14);
    font-size: 110px;
    bottom: 300px;
    left: 420px;
    
    transform: rotate(45deg);
    z-index: 2;
}

.circle-feature::after{
    content: "+";
    font-weight: 900;
    position: absolute;
    color: rgb(207, 204, 14);
    font-size: 28px;
    left: 400px;
    bottom: 350px;
    border-radius: 100%;
    transform: rotate(-15deg);
}
.circle-feature::before{
    content: ".";
    
    position: absolute;
    color: rgb(207, 204, 14);
    font-size: 110px;
    bottom: 0;
    left: 0;
    
    transform: rotate(45deg);
    z-index: 2;
}

.img-circle{
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
}

.app-badge{
    height: 3rem;
}


.features-device-mockup{
    max-width: 17rem;
}

.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, rgb(117, 118, 45) 0%, rgb(206, 203, 5) 50%, rgba(117, 118, 45) 100%);
}

.app_logo {
    height: 3rem;
}

.icon-feature {
    font-size: 4rem;
}

.building-container{
    position: relative;
    width: 100%;
    height: 650px;
}

.building-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/Assets/vacation2.jpg');
    background-position: center;
    background-size: cover ;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
}

.content{
    position: absolute;
    
    color: white;
}

.footer-link {
    color: rgba(255, 255, 255, 0.50);
    text-decoration: none;
}

.bg-testimonial{
    background: linear-gradient(90deg, rgb(117, 118, 45) 0%, rgb(206, 203, 5) 50%, rgba(117, 118, 45) 100%);
}

#download_section{
    height: 250px;
}

.icon-color{
    color: rgb(207, 204, 14);
}